[submodule "styling"]
	path = styling
	url = https://github.com/learningsreleased/styling.git
[submodule "flex-template"]
	path = flex-template
	url = https://github.com/learningsreleased/flex-template.git
