[submodule "styling"]
	path = styling
	url = https://github.com/learningsreleased/styling.git
[submodule "flex"]
	path = flex
	url = https://github.com/learningsreleased/flex-template.git
[submodule "advancedjavascriptls"]
	path = advancedjavascriptls
	url = http://github.com/learningsreleased/advancedjavascript.git
[submodule "cssgridlines"]
	path = cssgridlines
	url = https://github.com/JavaBootUI/cssgridlines.git
[submodule "cssgridls"]
	path = cssgridls
	url = https://github.com/JavaBootUI/cssgridlines.git
